.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  
}

.App-content {
  padding-top: 10%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.generated-text {
  color: lightgray;
  text-align: left;
  padding: 0 5%;
}

.generated-text_cur {
  background-color: white;
  padding: .2em .3em;
  border-radius: 3px;
  color: #282c34;
}

.generated-text_out {
  color: lightgreen;
}