sup {
  font-size: .4em;
  letter-spacing: normal;
  margin-left: 0.2em;
}

.app {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fffafa;
  text-align: center;
  color: #555555;
}

.app-logo {
  height: 15vmin;
  width: auto;
  pointer-events: none;
  -webkit-animation: spin 2.5s infinite linear;
          animation: spin 2.5s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.app-logo_loader {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  height: 10vmin;
}

.app-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.2rem;
}

.app-header__title {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .25rem;
}

.app-content {
  padding-top: 5vh;
}

.app-content__result-content {
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 80vh;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fffafa;
  -webkit-animation: fade-in .3s ease-out;
          animation: fade-in .3s ease-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 6vmin;
}

@-webkit-keyframes fade-in {
  from {
    -webkit-transform: scale(0.2) translate(-100%, 100%);
            transform: scale(0.2) translate(-100%, 100%);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    -webkit-transform: scale(0.2) translate(-100%, 100%);
            transform: scale(0.2) translate(-100%, 100%);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

.app-content__result-header {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding-top: 5vh;
}

.app-content__result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3vmin;
}

.app-content__result-item {
  min-height: 100px;
  width: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1vh 0;
  font-weight: lighter;
  color: #999999;
  text-align: left;
}

.app-content__result-item > * {
  padding: 1vh 0;
}

.app-content__result-item-value {
  font-size: 3rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-width: 200px;
  color: #555555;
  letter-spacing: .05em;
}

.app-content__result-item-label {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: .8rem;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: .2em;
}

.app-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
}

.app-stat__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-stat__item {
  margin: 5vmin;
  font-size: 2rem;
  text-align: left;
  letter-spacing: .1em;
  position: relative;
}

.app-stat__label {
  font-size: .8rem;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.app-stat__img {
  position: absolute;
  width: 20vmin;
  height: auto;
  top: 0%;
  opacity: .05;
}

.app-stat__img_left-align {
  left: 0%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}

.app-stat__img_right-align {
  right: 0;
  -webkit-transform: translate(50%, -60%);
          transform: translate(50%, -60%);
}

.app__button {
  cursor: pointer;
  letter-spacing: .2em;
  text-transform: uppercase;
  width: 10em;
  font-size: .8rem;
  font-weight: lighter;
  color: #555555;
  background-color: transparent;
  padding: .6em 1.2em;
  border-radius: 5px;
  margin: 0 1vw;
  border-style: solid;
  border-width: 2px;
  border-color: #61dafb73;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.app__button_large {
  margin: 0 auto;
  width: 80%;
  min-width: 200px;
  max-width: 40vw;
  padding: 1em 1.2em;
}

.generated-text {
  height: 30vh;
  color: #555555;
  text-align: left;
  padding: 10vh 10vw 0 10vw;
  font-size: 1.6rem;
  letter-spacing: .08em;
  line-height: 1.5;
}

.generated-text_cur {
  background-color: #61dafb;
  padding: .2em .3em;
  border-radius: 3px;
  color: black;
}

.generated-text_cur.wrong {
  background-color: #f56c6c;
}

.generated-text_out {
  color: #67C23A;
}

.generated-text__loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30vh;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}
