.App {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #282c34;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.App-header__title {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .25rem;
}

.App-content {
  padding-top: 10%;
}

.App-content__result-content {
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-animation: fade-in .3s ease-out;
          animation: fade-in .3s ease-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes fade-in {
  from {
    -webkit-transform: scale(0.2) translate(-100%, 100%);
            transform: scale(0.2) translate(-100%, 100%);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    -webkit-transform: scale(0.2) translate(-100%, 100%);
            transform: scale(0.2) translate(-100%, 100%);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

.App-link {
  color: #61dafb;
}

.generated-text {
  color: lightgray;
  text-align: left;
  padding: 0 5%;
}

.generated-text_cur {
  background-color: white;
  padding: .2em .3em;
  border-radius: 3px;
  color: #282c34;
}

.generated-text_cur.wrong {
  background-color: #ff1c1c;
}

.generated-text_out {
  color: lightgreen;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(40, 43, 49, 0.8);
}
